[user]
	name = yoskeoka
	email = y.okamoto@gemcook.com
[ghq]
	root = ~/src

[core]
	excludesfile = /Users/yoske/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[http]
	sslVersion = tlsv1.2
